# config file for ansible-csr1000v
[defaults]
# use local hosts file in this folder
inventory=./hosts
host_key_checking = False # Don't worry about RSA Fingerprints
retry_files_enabled = False # Do not create them
depreciation_warnings = False # Do not show warnings
